.address {
  padding-left: 50%;
  font-size: 14px;
  font-style: italic;
  color: #848789;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.address b {
  font-style: normal;
}

@media (max-width: 768px) {
  .address {
    text-align: center;
    padding-left: 0px;
  }
}
