.index-main {

}

.index-main__content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(470px, auto) repeat(3, minmax(600px, auto)) minmax(470px, auto) 735px minmax(470px, auto) ;
}

.index-main__intro {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.index-main__social-slider {
  grid-column-start: 1;
  grid-column-end: -1;
}

.index-main__shop {
  grid-column-start: 1;
  grid-column-end: -1;
}

.index-main__subscribe {
  grid-column-start: 1;
  grid-column-end: -1;
}
