.intro {
  padding: 115px 15% 50px 15%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f7f7f7;
  text-align: center;
}

.intro__icon {
  margin: 0 auto 30px auto;
}

.intro__title {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #353738;
}

.intro__content {
  font-size: 18px;
  font-weight: 400;
  color: #848789;
  line-height: 34px;
}

@media (max-width: 768px) {
  .intro__content {
    text-align: justify;
  }
}

@media (max-width: 600px) {
  .intro {
    padding: 5%;
  }
}
