.intro {
  padding: 115px 0 50px 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #f7f7f7;
  text-align: center;
}

.intro__icon {
  margin: 0 auto 30px auto;
}

.intro__title {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #353738;
}

.intro__content {
  max-width: 69%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  color: #848789;
  line-height: 34px;
}
