.shop {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 200px;
}

.shop-image {
  height: 100%;
  display: block;
}

.shop__image-container {
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
}

.shop__image-container--double-vertical {
  grid-row-start: 1;
  grid-row-end: 3;
}

.shop__image-container--double-horisontal {
  grid-column: span 2;
}

.shop__image-container--double-vertical:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.shop__image-container--double-vertical:nth-child(5) {
  grid-column-start: 4;
  grid-column-end: 5;
}

.shop__to-shop-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.shop__to-shop-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(#64c29e, 0.8);
  transition: opacity 0.15s ease-out;
}

.shop__link-icon-wrapper {
  z-index: 20;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100px;
  height: 60px;
  text-align: center;
  transition: opacity 0.25s linear;
}

.shop__link-icon {
  margin: 0 auto;
  display: block;
  fill: white;
}


.shop__link-icon path {
	 fill: white;
}

.shop__to-shop-link p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.shop__discover-shop {
  grid-column: 1 / -1;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #282f35;
}

.shop__discover-shop-link {
  position: relative;
  flex-basis: 300px;

  display: block;
  box-sizing: border-box;

  line-height: 50px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #94979a;
}

.shop__discover-rule {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  stroke-width: 5px;
  stroke: white;
  stroke-dasharray: 900;
  stroke-dashoffset: 900;
  transition: stroke-dashoffset 1s ease-in;
}

.shop__discover-rule:hover {
  stroke-dashoffset: 0;
}
